<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Raymond R. Li. It uses data from mapbox.com and weatherstack.com!</p>
            <img class="portrait" src={{img}}>
            <h2>Kings Die, Realms Fall, </h2>
            <h2>But Magic Endures.</h2>
        </div>
        
        {{>footer}}
    </body>

</html>